@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;    
  font-size: 16px;
  width: 100%;
  --lightBlue: rgb(120, 199, 227);
  --greenishBlue: rgb(66, 145, 152);
}

header {
  width: 100%;
}

main {  
  display: flex;
  flex-direction: column;  
  width: 85%;
}

a {
  color:  rgb(60, 150, 255); 
}

h1 {
  font-weight: 700;
  font-size: 28px;
}

figure {
  display: flex;
  flex-direction: column;
}

figcaption {
  font-size: 12px;
}

button {
  background-color: rgb(66, 145, 152);
  color: white;
  font-weight: 500;
  height: 45px;
  width: 140px;
  border-radius: 10px;
}

img {
  width: 100%;
}

label {
  font-weight: 600;
  color: rgb(66, 145, 152);
}

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#chart-container {
  height: 450px;
  width: 100%;
}


.available {  
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.tile > * {
  margin: 10px 0;
}

#tile2 > * {
  margin-bottom: 0;
}

.seeMore {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;  
}

#title {  
  width: 100%;  
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
}

#monthBtn {
  margin-top: 15px;
  width: 250px;
  border-style: solid;
  border-width: 1px;
  padding: 10px 15px;
}

#stripe {
  border: none;
  position: absolute;
  height: 150px;
  width: 100%;
  background-color: rgb(66, 145, 152);
  z-index: -1;
}

#tile1 {
  width: 62%;
}

#tile2 {
  width: 34%;
}

#tile3 {
  width: 45%;
}

#tile4 {
  width: 45%;
}

#changeDate {
  margin-top: 50px;  
}

@media (max-width: 900px) {
  main {  
    align-items: center;
  }

  h1 {
    text-align: center;
  }
  
  .available {
    flex-direction: column-reverse;
  }

  .seeMore {    
    margin-top: 80px;
    flex-direction: column-reverse;
  }

  #title { 
    justify-content: center;
  }
  
  #tile1, #tile2, #tile3 {
    margin-top: 50px;
    width: 100%;
  }

  #tile4 {
    width: 100%;
    margin-bottom: 50px;
  }

  #chart-container {
    height: 100%;
  }
}

@media (max-width: 480px) {  
  main {
    width: 75%;
  }
}